.parent{
border:2px solid red;
}
.parent{
  flex-direction:row;
  display:flex;

}
  .child1{

  border: 2px solid black;
  margin: 2%;
  width:50%;
  text-align:left;
  background-color:pink;


}
.child2{

  border:2px solid red;
  margin: 3%;
  width:50%;
  background-color:pink;


}
img{
  width: 120px;
  height:120px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  box-shadow:8px 12px 18px black;
  border-radius: 50%;
}
a{
  word-wrap: break-word;
}


@media only screen and (min-width:320px) and (max-width:480px){
  .parent{
  border:2px solid red;
  }
  .parent{

    display:flex;
    flex-direction:row;

  }
    .child1{
    border: 2px solid black;
    margin: 3%;
    background-color:#DCEEEC;
    width:50%;
    font-size:30px;
    text-align:left;
  }
  .child2{
    border:2px solid red;
    margin: 3%;
    background-color:#DCEEEC;
    width:50%;
    text-align: center;

  }
  img{
    width: 50%;
    margin: 4%;
    border-radius: 50%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    box-shadow:8px 12px 18px black;
  }
  a{
    word-wrap:break-word;
  }

}

@media only screen and (min-width:481px) and (max-width:760px){
  .parent{
  border:2px solid red;
  }
  .parent{

    display:flex;
    flex-direction:row;

  }
    .child1{
    border: 2px solid black;
    margin: 3%;
    background-color:skyblue;
    width:50%;
    font-size:30px;
    text-align:left;
  }
  .child2{
    border:2px solid red;
    margin: 3%;
    background-color:skyblue;
    width:50%;
    text-align: center;

  }
  img{
    width: 50%;
    margin: 4%;
    border-radius: 50%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    box-shadow:8px 12px 18px black;
  }
  a{
    word-wrap:break-word;
  }
}
  @media only screen and (min-width:761px) and (max-width:1024px){
    .parent{
    border:2px solid red;
    }
    .parent{
      flex-direction:row;
      display:flex;

    }
      .child1{

      border: 2px solid black;
      margin: 2%;
      width:50%;
      text-align:left;
      background-color:green;


    }
    .child2{

      border:2px solid red;
      margin: 3%;
      width:50%;
      background-color:green;


    }
    img{
      width: 120px;
      height:120px;
      display: block;
      margin-left:auto;
      margin-right:auto;
      box-shadow:8px 12px 18px black;
      border-radius: 50%;
    }
    a{
      word-wrap: break-word;
    }
  }
